<div class="p-6 bg-gray-900 min-h-screen text-white">
  <h1 class="text-2xl font-bold mb-4">Manage Page</h1>

  <!-- Buttons -->
  <div class="flex flex-wrap gap-4 mb-6 justify-center">
    <button class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded" (click)="setPart('processor')">CPU</button>
    <button class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded" (click)="setPart('motherboard')">MOTHERBOARD</button>
    <button class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded" (click)="setPart('ram')">RAM</button>
    <button class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded" (click)="setPart('ssd')">SSD</button>
    <button class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded" (click)="setPart('gpu')">GPU</button>
    <button class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded" (click)="setPart('psu')">PSU</button>
    <button class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded" (click)="setPart('casing')">CASING</button>
  </div>

  <!-- Display Selected Component -->
  <app-processor *ngIf="selectedPart === 'processor'"></app-processor>
  <!-- <app-motherboard *ngIf="selectedPart === 'motherboard'"></app-motherboard>
  <app-cooler *ngIf="selectedPart === 'cooler'"></app-cooler>
  <app-ram *ngIf="selectedPart === 'ram'"></app-ram>
  <app-gpu *ngIf="selectedPart === 'gpu'"></app-gpu>
  <app-psu *ngIf="selectedPart === 'psu'"></app-psu>
  <app-casing *ngIf="selectedPart === 'casing'"></app-casing> -->
  <!-- You can add other components here like below: -->
  <!-- <app-ram *ngIf="selectedPart === 'ram'"></app-ram> -->
</div>
